body {
  background-color: #9fa1a3;
}

header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
  font-size: 2em;
  color: #FFFFFF;
  padding: 4px;
  background-color: rgb(244, 129, 32);
}